* {
    margin: 20px;
    padding: 0;
}

body {
    background-color: rgb(17, 15, 15);
}

h1 {
    color: rgb(185, 26, 119);
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

h2 {
    color: rgb(72, 114, 204);
    text-align: center;
    font-weight: bolder;
}

p {
    color: #86f553;
    font-size: 20px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 700px;
}

button {
    background-color: #f5d64e;
    color: rgb(17, 15, 15);
}

ul {
    color: rgb(185, 26, 119);
    font-weight: 550;
}

#paragarafo {
    color: #f5d64e;
}

#botão {
    color: rgb(72, 114, 204);
    text-align: left;
}

#footer {
    font-size: medium;
}